.contacts {
  padding-bottom: 30px;
}

.contacts__title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__address {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}

.contacts__email-title,
.contacts__address-title {
  margin-right: 32px;
}

.contacts__email-link {
  color: #444444;
  border-bottom: 1px solid #46c1ae;
  &:hover,
  &:focus {
    color: #46c1ae;
  }
  &:active {
    opacity: 0.3;
  }
}

.contacts__address-text {
  padding: 0;
  margin: 0;
}

.contacts__map {
  position: relative;
  margin-bottom: 30px;
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: 140px;
  left: 140px;
  width: 67px;
  height: 100px;
  background-image: url("../../img/icon-map-pin.svg");
}
