.contacts__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__address {
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}

.contacts__email-link {
  color: #444444;
}

.contacts__address--text {
  padding: 0;
  margin: 0;
}

.contacts__map {
  margin-bottom: 30px;
}
