.contacts {
  padding-bottom: 30px;
}

.contacts__title {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__address {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}

.contacts__email-title,
.contacts__address-title {
  margin-right: 32px;
}

.contacts__email-link {
  color: #444444;
  border-bottom: 1px solid #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__address-text {
  width: 150px;
  padding: 0;
  margin: 0;
}

.contacts__map {
  position: relative;
  margin-bottom: 30px;
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: 140px;
  left: 140px;
  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
}


@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    right: 0;
    top: -10px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts__address {
    align-items: flex-start;
    font-size: 17px;
  }

  .contacts__email-link {
    margin-right: 56px;
  }

  .contacts__address-text {
    width: 230px;
  }

  .contacts .button {
    width: 230px;
    margin: 0 auto;
  }

  .contacts__button-wrap {
    display: flex;
  }
}
