.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 30px;
}


@media (min-width: 768px) {
  .features__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1180px) {
  .features__title {
    margin-left: 175px;
  }
}
