.form__title {
  font-size: 27px;
  line-height: 30px;
}

.form__text {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__legend {
  padding: 0;
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
}

.form__label {
  display: block;
  padding-left: 63px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  margin-bottom: 20px;
  font: inherit;
  font-weight: normal;
  border: none;
  border-bottom: 2px solid #000000;
}

.form__input::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__label--left {
  padding-left: 0;
  margin-bottom: 0;
}

.form__label--tiffany-color {
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__label--textarea {
  margin-bottom: 20px;
}

.form__textarea {
  height: 140px;
  width: 100%;
  padding: 15px 17px;
  box-sizing: border-box;
  font: inherit;
  font-weight: normal;
  border: 2px solid #000000;
}

.form__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}
