.main-nav__toggle {
  width: 20px;
  height: 14px;
  padding: 0;
  background-image: url("../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
}
