.page-footer__social,
.page-footer__developed {
  min-height: 80px;
  background-color: #f1f1f1;
}

.page-footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__developed-text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
