.page-main__hero {
  position: relative;
  min-height: 286px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center 22%;
}

.page-main__title {
  padding-top: 69px;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.page-main__popular-items {
  margin-bottom: 27px;
}

.page-main__features {
  margin-bottom: 32px;
}

.page-main__reviews {
  margin-bottom: 36px;
}

.page-main__contacts {
  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .page-main__title {
    padding-top: 152px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__categories {
    margin-bottom: 16px;
  }

  .page-main__hero {
    min-height: 745px;
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .page-main__hero::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 22px;
    bottom: -12px;
    left: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 100% 22px;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .page-main__popular-items {
    margin-bottom: 50px;
  }
}

@media (min-width: 1150px) {
  .page-main__title {
    width: 700px;
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__hero {
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .page-main__hero::before {
    width: 100%;
    height: 34px;
    background-size: 100% 34px;
    background-position-x: 50%;
  }
}
