.page-main__hero {
  position: relative;
  min-height: 286px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center 10%;
}

.page-main__title {
  padding-top: 60px;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}


@media (min-width: 768px) {
  .page-main__title {
    padding-top: 160px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__hero {
    min-height: 745px;
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .page-main__hero::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 768px;
    height: 46px;
    bottom: -22px;
    left: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position-x: 20%;
    z-index: 2;
  }
}

@media (min-width: 1180px) {
  .page-main__title {
    width: 700px;
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__hero {
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .page-main__hero::before {
    width: 1180px;
    background-position-x: 50%;
  }
}
