.popular-categories {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.popular-categories__item {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 0 30px;
  min-height: 103px;
  background-color: #63d1bb;

  &:hover .popular-categories__icon-interior,
  &:focus .popular-categories__icon-interior,
  &:hover .popular-categories__icon-toy,
  &:focus .popular-categories__icon-toy {
    opacity: 0.7;
  }

  &:active .popular-categories__title,
  &:active .popular-categories__icon-toy,
  &:active .popular-categories__icon-interior {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }
}

.popular-categories__icon-interior {
  position: absolute;
  right: 35px;
  top: 24px;
  opacity: 0.5;
}

.popular-categories__icon-toy {
  position: absolute;
  right: 27px;
  top: 21px;
  opacity: 0.5;
}

.popular-categories__icon-interior path,
.popular-categories__icon-toy path {
  fill: #149080;
}

.popular-categories__item--darken {
  background-color: #56c3b2;

  &:hover,
  &:focus {
    background-color: #46c1ae;
  }
}

.popular-categories__title {
  margin: 0;
  margin-top: 25px;
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}


@media (min-width: 768px) {
  .popular-categories {
    margin-top: -119px;
    flex-direction: row;
    padding: 0 50px;
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .popular-categories__icon-interior {
    top: 30px;
  }

  .popular-categories__icon-toy {
    top: 32px;
    right: 33px;
  }

  .popular-categories__title {
    margin-top: 27px;
    font-size: 20px;
    line-height: 30px;
  }

  .popular-categories__item {
    min-height: 119px;
    padding: 0 36px;

    &:hover,
    &:focus {
      margin-top: -5px;
    }
  }
}

@media (min-width: 1150px) {
  .popular-categories {
    width: 1050px;
  }
}
