.popular-items__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}


.popular-items__sign {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.popular-items__about {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.popular-items__specification {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.popular-items__picture {
  margin-bottom: 20px;
}

.popular-items__price {
  display: block;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}
