.products__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products__title {
  font-size: 27px;
  line-height: 30px;
}

.products__item-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.products__item-specification {
  display: block;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.products__item-price {
  font-size: 15px;
  line-height: 24px;
}
