.products__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.products__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
  min-height: 178px;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
}

.products__item-image {
  display: block;
}

.products__item {
  margin-bottom: 20px;
}

.products__item-wrap {
  padding: 22px 28px 0 28px;
  border: 1px solid #ededed;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.products__item-name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.products__item-specification {
  display: block;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.products__price-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #ececec;
}

.products__item-price {
  font-size: 15px;
  line-height: 24px;
}

.products__item-buy {
  border: 0;
  padding: 0;
  opacity: 0.2;
}

.products__item-buy:hover,
.products__item-buy:focus {
  opacity: 1;
}

.products__item-buy:hover svg,
.products__item-buy:focus svg {
  fill: #63d1bb;
}

.products__item-buy:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .products__title {
    min-height: 240px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: center bottom;
  }

  .products__item {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .products__item-wrap {
    flex-grow: 1;
  }
}

@media (min-width: 1150px) {
  .products__title {
    min-height: 280px;
  }

  .products__list {
    justify-content: space-between;
  }

  .products__item {
    width: 316px;
    flex-direction: column;
  }
}
