.production {
  position: relative;
}

.production__wrap {
  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title-wrap {
  position: relative;
  padding: 20px 33px 20px 33px;
  margin-bottom: 150px;
  border: 1px solid #ececec;
}

.production__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  padding-left: 57px;
}

.production__title-icon {
  position: absolute;
  left: 33px;
  top: 25px;
}

.production__title-icon path {
  fill: #63d1bb;
}

.production__image-wrap {
  position: absolute;
  top: 89px;
  order: 1;
}

.production__image-button {
  position: absolute;
  padding: 0;
  width: 100px;
  height: 76px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__image {
  display: block;
}

.production__text-wrap {
  order: 3;
  padding: 30px 33px 30px 33px;
  border: 1px solid #ececec;
  border-top: none;
}

.production__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__title-wrap {
    border-bottom: none;
    margin-bottom: 0;
  }

  .products__image {
    width: 668px;
    height: 455px;
  }

  .production__wrap {
    order: 1;
  }

  .production__image-wrap {
    position: relative;
    top: 0;
    order: 0;
  }

  .production__image-wrap::before {
    left: 334px;
    top: 190px;
  }
}


@media (min-width: 1150px) {
  .production {
    min-height: 455px;
    flex-direction: row;
  }

  .production__title-icon {
    position: relative;
    margin-bottom: 20px;
    top: 0;
    left: 0;
  }

  .production__title {
    padding-left: 0;
    width: 150px;
  }

  .production__title-wrap {
    box-sizing: border-box;
    width: 368px;
    min-height: 170px;
    padding-left: 80px;
    padding-right: 56px;
  }

  .production__text-wrap {
    box-sizing: border-box;
    width: 368px;
    min-height: 285px;
    padding-top: 0;
    padding-left: 80px;
    padding-right: 56px;
  }

  .production__text {
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 30px;
  }
}
