.reviews {
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__reviewer-name {
  font-size: 17px;
  line-height: 24px;
}

.reviews__reviewer-instagram {
  display: block;
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews__buttons-wrap {
  margin-bottom: 30px;
}
