.reviews__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__reviewer-name {
  font-size: 17px;
  line-height: 24px;
}

.reviews__reviewer-instagram {
  display: block;
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews__buttons-wrap {
  display: flex;
  margin-bottom: 30px;
}

.reviews__button {
  padding: 0;
  width: 50%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.reviews__button--prev {
  border-right: none;
  background-image: url("../../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__button--next {
  background-image: url("../../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
