body {
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
}

.container {
  padding: 0 30px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  font-size: 18px;
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 2px #444444;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    color: #7c7c7c;
  }
}

.zigzag-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 319px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 319px 6px;
}


@media (min-width: 768px) {
  body {
    width: 768px;
  }

  .container {
    padding: 0 50px;
  }
}

@media (min-width: 1150px) {
  body {
    width: 1150px;
  }
}
